**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [9]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import sqlite3

# loading data from python.db database
con = sqlite3.connect('data/python.db')

# import 'school' and 'student' tables into pandas dataframe
school_data = pd.read_sql_query("SELECT * FROM school", con)
student_data = pd.read_sql_query("SELECT * FROM student", con)

In [15]:
# join the two tables into a single dataframe
school_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")
school_data_complete.head()

,id_x,Student ID,student_name,gender,grade,school_name,reading_score,math_score,id_y,School ID,type,size,budget
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,0,District,2917,1910635
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,0,District,2917,1910635
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,0,District,2917,1910635
3,3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [18]:
# Create a District Summary
import pandas as pd
import numpy as np
import sqlite3


data = {
    'school_name': ['Granda Hills', 'Burbank high', 'Soces', 'Burroughs'],
    'school_type': ['Ch', 'Public District', 'Charter', 'Public District'],
    'student_size': [500, 3000, 600, 2500],
    'budget_per_student': [585, 675, 590, 645],  
    'math_pass': [90, 67, 91, 66],
    'reading_score': [70, 85, 77, 88]
    
}

df = pd.DataFrame(data)

In [20]:
# Total number of schools

total_schools = len(df['school_name'].unique())

In [22]:
# Total number of students


total_students = df['student_size'].sum()
print("Total Students:", total_students)

Total Students: 6600

In [24]:
# Total budget

total_budget = df['budget_per_student'].sum()
print("Total Budget:", total_budget)

Total Budget: 2495

In [26]:
# Average math score


average_math_score = df['math_pass'].mean()
print("Average Math Score:", average_math_score)

Average Math Score: 78.5

In [28]:
# Average reading score

average_reading = df['reading_score'].mean()
print("Average Reading:", average_reading)

Average Reading: 80.0

In [30]:
# Overall average score

df['overall_score'] = (df['math_pass'] + df['reading_score']) / 2

average_overall_score = df['overall_score'].mean()
print("Average Overall Score:", average_overall_score)

Average Overall Score: 79.25

In [32]:
# Percentage of passing math (70 or greater)

passing_math = df[df['math_pass'] >= 70]
percent_passing_math = (len(passing_math) / len(df)) * 100
print("Percent Passing Math:", percent_passing_math)

Percent Passing Math: 50.0

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [44]:
#  Sort and display the top five schools in overall passing rate

data = {
    'school_name': ['San Francisco State', 'UCSF', 'LAVC', 'UCLA'],
    'school_type': ['State', 'Private', 'Community', 'Public'],
    'student_size': [23700, 6000, 1600, 48000],
    'school_budget': [100000, 180000, 50000, 500000],
    'budget_per_student': [8000, 40000, 5000, 43000],  
    'math_pass': [80, 77, 91, 87],
    'math_scores': [99, 89, 78, 97],
    'reading_score': [90, 85, 95, 88]
}

df = pd.DataFrame(data)


top_schools = df.sort_values(by='math_pass', ascending=False).head(5)
print(top_schools)

           school_name school_type  student_size  school_budget  \
2                 LAVC   Community          1600          50000
3                 UCLA      Public         48000         500000
0  San Francisco State       State         23700         100000
1                 UCSF     Private          6000         180000

   budget_per_student  math_pass  math_scores  reading_score
2                5000         91           78             95
3               43000         87           97             88
0                8000         80           99             90
1               40000         77           89             85

In [46]:
# Calculate total school budget

school_budget = df['school_budget'].sum()
print("school_budget:", school_budget)

school_budget: 830000

In [48]:
# Calculate per student budget

budget_per_student = df['budget_per_student'].sum()
print("budget_per_student:", budget_per_student)

budget_per_student: 96000

In [58]:
# Cacluate the avg math and reading score
df['overall_score'] = df[['reading_score', 'math_scores']].mean(axis=1)

print(df[['school_name', 'overall_score']])

           school_name  overall_score
0  San Francisco State           94.5
1                 UCSF           87.0
2                 LAVC           86.5
3                 UCLA           92.5

#### Find the passing rate for math and reading (above 70 points)

In [78]:
import pandas as pd

# Find the total counts of math result

total_math_results = df['math_scores'].count()
print(f"Total number of math scores: {total_math_results}")


# Find the counts for math result in each school that pass 70 or higher
math_pass_count = (df['math_scores'] > 70).sum()
print(f"Number of students who passed math: {math_pass_count}")

# Calculate the math passing rate

passing_math = (df['math_pass'] >= 70).mean() *100
print(f"Math passing rate: {passing_math:.2f}%")

Total number of math scores: 4
Number of students who passed math: 4
Math passing rate: 100.00%

In [84]:
# Find the total counts of read result

total_reading_results= df['reading_score'].count()
print(f"Total number of reading scores {total_reading_results}")


# Find the counts for read result in each school that pass 70 or higher

reading_pass_count = (df['reading_score'] >70).sum()
print(f"Number of students who passed reading: {reading_pass_count}")

# Calculate the read passing rate
reading_pass_rate = (df['reading_score'] >70).mean() *100
print(f"Reading passing rate: {reading_pass_rate:2f}%")

Total number of reading scores 4
Number of students who passed reading: 4
Reading passing rate: 100.000000%

In [105]:
# Calculate the overall passing rate (average of the math and reading passing rate)

math_pass_rate = (df['math_scores'] > 70).mean() * 100
reading_pass_rate = (df['reading_score'] > 70).mean() *100

overall_passing_rate = (math_pass_rate + reading_pass_rate) /2
print(f"Overall passing rate: {overall_passing_rate:.2f}%")

Overall passing rate: 100.00%

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [107]:
#  Sort and display the worst five schools in overall passing rate

df['overall_score'] = df[['reading_score', 'math_scores']].mean(axis=1)


worst_five_schools = df.sort_values(by='overall_score', ascending=True)
print(worst_five_schools[['school_name', 'overall_score']])

           school_name  overall_score
2                 LAVC           86.5
1                 UCSF           87.0
3                 UCLA           92.5
0  San Francisco State           94.5

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

* Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [127]:
# Create table that lists the average math score for each school of each grade level.

data = {
    'school_name': [
        'Burbank', 'Burbank', 'Burbank', 'Burbank',
        'Burroughs', 'Burroughs', 'Burroughs', 'Burroughs',
        'Alhambra', 'Alhambra', 'Alhambra', 'Alhambra',
        'Bernstein', 'Bernstein', 'Bernstein', 'Bernstein',
        'NHS', 'NHS', 'NHS', 'NHS',
    ],
    'grade': [
        '9th', '10th', '11th', '12th',
        '9th', '10th', '11th', '12th',
        '9th', '10th', '11th', '12th',
        '9th', '10th', '11th', '12th',
        '9th', '10th', '11th', '12th',
    ],
    'math_score': [
        88, 98, 79, 100, 
        95, 84, 76, 80,
        77, 67, 98, 82,
        90, 82, 78, 91,
        99, 87, 74, 97,
    
    ]

}

        
df = pd.DataFrame(data)

avg_table = df.pivot_table(
    index='school_name',
    columns='grade',
    values='math_score',
    aggfunc='mean'
).reset_index()

print(avg_table)

grade school_name  10th  11th   12th   9th
0        Alhambra  67.0  98.0   82.0  77.0
1       Bernstein  82.0  78.0   91.0  90.0
2         Burbank  98.0  79.0  100.0  88.0
3       Burroughs  84.0  76.0   80.0  95.0
4             NHS  87.0  74.0   97.0  99.0

In [129]:
# Calculate the average math score for 9th grade in each school

ninth_grade_scores = avg_table[['school_name', '9th']]
print(ninth_grade_scores)

grade school_name   9th
0        Alhambra  77.0
1       Bernstein  90.0
2         Burbank  88.0
3       Burroughs  95.0
4             NHS  99.0

In [131]:
# Calculate the average math score for 10th grade in each school

tenth_grade_scores = avg_table[['school_name', '10th']]
print(tenth_grade_scores)

grade school_name  10th
0        Alhambra  67.0
1       Bernstein  82.0
2         Burbank  98.0
3       Burroughs  84.0
4             NHS  87.0

In [133]:
# Calculate the average math score for 11th grade in each school

eleventh_grade_scores = avg_table[['school_name', '11th']]
print(eleventh_grade_scores)

grade school_name  11th
0        Alhambra  98.0
1       Bernstein  78.0
2         Burbank  79.0
3       Burroughs  76.0
4             NHS  74.0

In [135]:
# Calculate the average math score for 12th grade in each school

twelfth_grade_scores = avg_table[['school_name', '12th']]
print(twelfth_grade_scores)

grade school_name   12th
0        Alhambra   82.0
1       Bernstein   91.0
2         Burbank  100.0
3       Burroughs   80.0
4             NHS   97.0

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [137]:
# Create table that lists the average reading score for each school of each grade level.


data = {
    'school_name': [
        'Burbank', 'Burbank', 'Burbank', 'Burbank',
        'Burroughs', 'Burroughs', 'Burroughs', 'Burroughs',
        'Alhambra', 'Alhambra', 'Alhambra', 'Alhambra',
        'Bernstein', 'Bernstein', 'Bernstein', 'Bernstein',
        'NHS', 'NHS', 'NHS', 'NHS',
    ],
    'grade': [
        '9th', '10th', '11th', '12th',
        '9th', '10th', '11th', '12th',
        '9th', '10th', '11th', '12th',
        '9th', '10th', '11th', '12th',
        '9th', '10th', '11th', '12th',
    ],
    'reading_score': [
        93, 88, 72, 97, 
        98, 82, 67, 79,
        91, 83, 95, 92,
        90, 82, 76, 87,
        97, 85, 78, 90,
    
    ]

}

        
df = pd.DataFrame(data)

avg_table = df.pivot_table(
    index='school_name',
    columns='grade',
    values='reading_score',
    aggfunc='mean'
).reset_index()

print(avg_table)

grade school_name  10th  11th  12th   9th
0        Alhambra  83.0  95.0  92.0  91.0
1       Bernstein  82.0  76.0  87.0  90.0
2         Burbank  88.0  72.0  97.0  93.0
3       Burroughs  82.0  67.0  79.0  98.0
4             NHS  85.0  78.0  90.0  97.0

In [139]:
# Calculate the average reading score for 9th grade in each school

ninth_grade_scores = avg_table[['school_name', '9th']]
print(ninth_grade_scores)

grade school_name   9th
0        Alhambra  91.0
1       Bernstein  90.0
2         Burbank  93.0
3       Burroughs  98.0
4             NHS  97.0

In [145]:
# Calculate the average reading score for 10th grade in each school

tenth_grade_scores = avg_table[['school_name', '10th']]
print(tenth_grade_scores)

grade school_name  10th
0        Alhambra  83.0
1       Bernstein  82.0
2         Burbank  88.0
3       Burroughs  82.0
4             NHS  85.0

In [143]:
# Calculate the average reading score for 11th grade in each school

eleventh_grade_scores = avg_table[['school_name', '11th']]
print(eleventh_grade_scores)

grade school_name  11th
0        Alhambra  95.0
1       Bernstein  76.0
2         Burbank  72.0
3       Burroughs  67.0
4             NHS  78.0

In [141]:
# Calculate the average reading score for 12th grade in each school


twelfth_grade_scores = avg_table[['school_name', '12th']]
print(twelfth_grade_scores)

grade school_name  12th
0        Alhambra  92.0
1       Bernstein  87.0
2         Burbank  97.0
3       Burroughs  79.0
4             NHS  90.0

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [167]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]



data = {
    'student_size': [1000, 1200, 1100, 900, 950],
    'school_budget': [600000, 700000, 720000, 560000, 610000],
    'math_score': [78, 82, 85, 76, 80],
    'reading_score': [83, 85, 88, 81, 84],
}

df = pd.DataFrame(data)

In [169]:
# Create a new column to show budget per student in each row
df['budget_per_student'] = df['school_budget'] / df['student_size']
print(df)

   student_size  school_budget  math_score  reading_score  budget_per_student
0          1000         600000          78             83          600.000000
1          1200         700000          82             85          583.333333
2          1100         720000          85             88          654.545455
3           900         560000          76             81          622.222222
4           950         610000          80             84          642.105263

In [173]:
# Create a new column to define the spending ranges per student


spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]



df['spending_group'] = pd.cut(df['budget_per_student'], bins=spending_bins, labels=group_names)
print(df)

   student_size  school_budget  math_score  reading_score  budget_per_student  \
0          1000         600000          78             83          600.000000
1          1200         700000          82             85          583.333333
2          1100         720000          85             88          654.545455
3           900         560000          76             81          622.222222
4           950         610000          80             84          642.105263

  spending_group
0       $585-615
1          <$585
2       $645-675
3       $615-645
4       $615-645

In [175]:
# Calculate the average math score within each spending range

avg_math_by_spending = df.groupby('spending_group')['math_score'].mean().reset_index()
avg_math_by_spending.columns = ['Spending Range (Per Student)', 'Average Math Score']

print(avg_math_by_spending)

  Spending Range (Per Student)  Average Math Score
0                        <$585                82.0
1                     $585-615                78.0
2                     $615-645                78.0
3                     $645-675                85.0

/var/folders/nj/gkw4_xxx20l13pyzd4r4z6w40000gp/T/ipykernel_5857/2227146171.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  avg_math_by_spending = df.groupby('spending_group')['math_score'].mean().reset_index()

In [177]:
# Calculate the percentage passing rate for math in each spending range


df['passed_math'] = df['math_score'] > 70

math_pass_rate = df.groupby('spending_group', observed=True)['passed_math'].mean().reset_index()

math_pass_rate['% Passing Math'] = math_pass_rate['passed_math'] * 100
math_pass_rate = math_pass_rate[['spending_group', '% Passing Math']]

print(math_pass_rate)

  spending_group  % Passing Math
0          <$585           100.0
1       $585-615           100.0
2       $615-645           100.0
3       $645-675           100.0

In [179]:
# Calculate the percentage passing rate for reading in each spending range

df['passed_reading'] = df['reading_score'] > 70


reading_pass_rate = df.groupby('spending_group', observed=True)['passed_reading'].mean().reset_index()


reading_pass_rate['% Passing Reading'] = reading_pass_rate['passed_reading'] * 100
reading_pass_rate = reading_pass_rate[['spending_group', '% Passing Reading']]

print(reading_pass_rate)

  spending_group  % Passing Reading
0          <$585              100.0
1       $585-615              100.0
2       $615-645              100.0
3       $645-675              100.0

In [181]:
# Calculate the percentage overall passing rate in each spending range

df['overall_pass'] = df[['passed_math', 'passed_reading']].mean(axis=1)


overall_pass_rate = df.groupby('spending_group', observed=True)['overall_pass'].mean().reset_index()


overall_pass_rate['Overall Passing Rate'] = overall_pass_rate['overall_pass'] * 100
overall_pass_rate = overall_pass_rate[['spending_group', 'Overall Passing Rate']]

print(overall_pass_rate)

  spending_group  Overall Passing Rate
0          <$585                 100.0
1       $585-615                 100.0
2       $615-645                 100.0
3       $645-675                 100.0

### Scores by School Size

* Perform the same operations as above, based on school size.

In [205]:
# Sample bins. Feel free to create your own bins.
data = {
    'school_name': ['A', 'B', 'C', 'D', 'E'],
    'student_size': [950, 1500, 2200, 3000, 5000],
    'school_budget': [9600000, 400000, 320000, 666000, 555500],
    'math_score': [78, 82, 85, 76, 80],
    'reading_score': [83, 85, 88, 81, 84],
}

df = pd.DataFrame(data)


size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [209]:
# Create a new column for the bin groups

df['size_group'] = pd.cut(df['student_size'], bins=size_bins, labels=group_names)
print(df)

  school_name  student_size  school_budget  math_score  reading_score  \
0           A           950        9600000          78             83
1           B          1500         400000          82             85
2           C          2200         320000          85             88
3           D          3000         666000          76             81
4           E          5000         555500          80             84

           size_group
0       Small (<1000)
1  Medium (1000-2000)
2   Large (2000-5000)
3   Large (2000-5000)
4   Large (2000-5000)

Look for the total count of test scores that pass 70% or higher

In [211]:
# math_pass_size


df['passed_math'] = df['math_score'] > 70

In [217]:
# read_pass_size


df['passed_reading'] = df['reading_score'] > 70

In [219]:
# Calculate the overall passing rate for different school size
df['overall_pass'] = df[['passed_math', 'passed_reading']].mean(axis=1)

### Scores by School Type

* Perform the same operations as above, based on school type.

In [233]:
# Create bins and groups, school type {'Charter', 'District'}


data = {
    'school_name': ['A', 'B', 'C', 'D', 'E'],
    'student_size': [950, 1500, 2200, 3000, 5000],
    'school_budget': [9600000, 400000, 320000, 666000, 555500],
    'school_type': ['Charter', 'District', 'Charter', 'Charter', 'District'],
    'math_score': [78, 82, 85, 76, 80],
    'reading_score': [83, 85, 88, 81, 84]
}

df = pd.DataFrame(data)

Find counts of the passing 70 or higher score for the both test

In [225]:
# math pass size

df['passed_math'] = df['math_score'] > 70

In [ ]:
# reading pass size

df['passed_reading'] = df['reading_score'] > 70

In [231]:
# Calculate the overall passing rate
df['passed_reading'] = df['reading_score'] > 70
df['overall_pass'] = df[['passed_math', 'passed_reading']].mean(axis=1)